config.stopBubbling=true

# https://juejin.cn/post/7122040982605922340
# 全局设置@EqualsAndHashCode的callSuper属性为true
lombok.equalsAndHashCode.callSuper = call

# 全局设置@ToString的callSuper属性为true
lombok.toString.callSuper = call

# @RequiredArgsConstructor 支持 @Qualifier 注解 lombok version > 1.18.4
# https://ath3nd.wordpress.com/2018/12/13/spring-lombok-or-injection-just-became-a-bit-easier-part-2-of-2/
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier